body {
  margin: 0px;
  background-size: cover;
  background-image: url("https://yun.nana7mi.link/bg.png");
}

#app {
  font-family: APEX, Homo, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
